ul#pages { margin: 0; padding: 0; list-style-type: none; }
ul#pages li.page { display: none; }
ul#pages li.page.active { display: list-item; }

.player_red { color: red; }
.player_blue { color: blue; }
.player_green { color: green; }
.player_yellow { color: yellow; }
.player_black { color: black; }

.demand_track .cube { color: #572510; }
.demand_track .regret { color: #d7d7d7; }
.demand_track { margin: 0; padding: 0; list-style-type: none; }
